html, body{
  height: 100%;
}

img{
  width:100%;/*adjust this value to your needs*/
  height:auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  position: relative;
}

.topbar {
  background: #212121;
  width: 100%;
  color: #575153;
  height: 40px;
}

.in-topbar{
  display: flex;
  align-items: center;
  margin-left: 25%;
  width: 50%;
  height: 100%;
}

.left-topbar {
  width: 50%;
}

.right-topbar {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

#menu1{
  background: transparent; 
  border-color: transparent;
}

.nav-menu {
  font-size: 80%;
  font-weight: bold;
}

.nav-menu .nav-tabs > li > a:hover {
  background-color: transparent !important;
  color: #00c8c8 ;
}

.nav-tabs > li > a:hover {
  color: white;
  background: #00c8c8 !important;  
  border-color: transparent !important;
  border-radius: 0px;     
}

.nav-tabs > li > a {
  color: #575153;
  background-color: transparent;
}

.nav .nav-tabs {
  border-color: transparent !important;
}

.nav{
   border-color: transparent !important;
}

.header-main{
  background-image: url("../images/bg-header.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 100%;
}

.header-bar {
  display: flex ;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 18px;
  left: 16px;
}

.logo-header{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  
.photo2{
  margin-top: 30px;
}

.info{
  padding-top: 70px;
}

.inside {
  margin-bottom: 40px;
  margin-left: 100px;
  margin-right: 100px;
  padding-right: 100px;
  padding-left: 100px;
}

.inside-1 {
  margin-bottom: 20px;
}

.bg {
  position: relative;
}

.bg1 {
  position: relative;
}

.fb{
  position: absolute;
  top: 70px;
  left: 100px;
}

.i-2016{
  margin-top: 10px;
  width: 100%;
  height: 10px !important;
}

.design {
  margin-top: 10px;
}


.dropdown{
  display: inline;
  height: 40px !important;
  text-align: left;
}



.colection {
  position: absolute;
  top: 80%;
  left: 70%;
}

.colection-button {
  width: 350px;
  height: 50px;
  background-color: transparent;
  background: url("../images/shop_men.png") no-repeat;
  background-position: center;
  border: 2px solid black;
}

.colection-button:hover {
  border: 2px solid gray;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img.hover-shadow {
  transition: 0.3s;
}

.prices {
  position: relative;
}

.price {
  position: absolute;
  font-style: oblique;
  top: 5px;
  left: 25px;
}

.lookbook{
  position: relative;
}

.view-now {
  position: absolute;
  background-color: transparent;
  width: 150px;
  height: 50px;
  top: 70%;
  left: 55%;
  border: 2px solid gray;
}

.view-now:hover {
  background-color: #00c8c8;
  border:none;
  color: white;
}

.x-lookbook{
  position: absolute;
  top:5%;
  left: 35%;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #f8f8f8;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin-top: 50px;
}

.main-footer{
  margin-top: 5%;
  width: 60%;
  height: 90%
}

.grid{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.item{
  display: inline-block;
  width: 20%;
  text-align: left;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 30px;
  width: 50%;
  padding: 1%;
}

.bg-social {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.award {
  width: 80%;
  height: 90%;
}

.awards {
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.bottom-footer {
  align-items: flex-end;
  background: #212121;
  color: #575153;
  width: 100%;
  height: 40px;
}

img.fb {
  max-width: 50%;
  align-items: center;
}

.content-bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.version {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: center;
  font-size: 80%
}

.version-1 {
  display: flex;
  width: 100%;
}

.a-fashion {
  text-align: left;
  width: 50%;
}

.design-by {
  text-align: right;
  width: 50%;
}

/*.site-footer {
  margin-top: 100px;
}*/
